@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=Livvic&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#map{
    height: 88vh; 
   width: 70vw;
   z-index: 0;
}

header{
    background-color: white;
    color: #7E00FF;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.title{
    text-align: center;
}
main{
    display: flex;
}
aside{
    width: 30vw;
    display: flex;
    background-color: #E2E1F4;
    justify-content: center;
    align-items: center;
}

.xButton{
    display: none;
}

.todo{
    width: 22rem;
    height: 43rem;
    background-color: white;
    border-radius: 30px;
    max-width: 22rem;
}

aside h2, aside h3{
    text-align: center;
}

aside h2{
    margin-top: 20px;
    font-size: 27px;
    color: black;
}

aside h3{
    font-size: 25px;
    color: #7E00FF;
    margin-top: 20px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: 50px;
    
}

.data_box{
    width: 8.5rem;
    height: 9.5rem;
    margin-bottom: 22px;
    border-radius: 20px;
    background-color: #D9C4EE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow ease-in .3s;
}


.masInfo{
    background-color: transparent;
    border: none;
    align-self: start;
    margin: 0 0 10px 12px;
    padding: 3px;
    font-size: 15px;
    box-shadow: 0 0 1px 1px #999;
    border-radius: 50px;
    background-color: rgb(196, 150, 240);
    color: white;
    cursor: pointer;
        
}

.data_box:hover{
    
    box-shadow: 0 0 5px 1px #999 inset;
}

.data_box h4{
    position: absolute;
    top: 0;
    transform: translateY(-17px);
    font-size: 27px;
    color: #594387;
    font-weight: bolder;

}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10;
    background-color: #0000003f;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
}

.modal_container{
    width: 90%;
    background-color: white;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;

}

.modal_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_container input{
    padding: 10px 0 150px 10px;
    width: 100%;
    outline: none;
    
}

.modal_container button{
    right: 0;
    align-self: end;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    color: white;
    font-size: 17px;
    border: none;
    background-color: #368a8e;
    transition: background-color ease-in-out .1s;
    cursor: pointer;
}

.modal_container button:hover{
    background-color: #45b4b9;
}

.modal_close{
    text-decoration: none;
    color: black;
    display: inline;
    width: 20px;
    border-radius: 6px;
    font-weight: 300;
    font-size: 20px;

    margin-bottom: 20px;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .1s;
}

.data_box p{
    color: #933EFF;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 55px;
}

.container{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}

#toggle{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    position: absolute;
    background-color: #15181f;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    top: 5px;
    left: 5px;
    border-radius: 50%;
}

.dark-theme #toggle{
    background-color: white;
}

.dark-theme #toggle:after{
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}

.dark-theme header{
    background-color: #2C2B4D;
}

.dark-theme aside{
    background-color: #33326C;
}

.dark-theme  .data_box{
    background-color: #2F0C53;
}

.dark-theme .data_box h3{
    color: white;
}

.dark-theme .data_box p{
    color: #933EFF;
}

.dark-theme .todo{
    background-color: #9F7EC9;
}

.dark-theme .todo h2{
    color: white;
}

.dark-theme .todo h3{
    color: #2F0C53;
}

.dark-theme h4{
    color: white;
}

.dark-theme .title{
    color: white;
}

/* .dark-theme #map{
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
} */

.closeButton{
    display: none;
}

@media screen and (max-width: 1300px){
    aside{
        position: absolute;
        z-index: 1;
        background-color: transparent;
        width: 22rem;
    }


    .todo{
        height: 45rem;
    }
    .dark-theme aside{
        background-color: transparent;
    }

    #map{
        width: 100vw;
        height: 100vh;
        position: relative;

    }

    main{
        justify-content: center;
        align-items: center;
    }

    .xButton{
        display: block;
        margin: 15px 0 0 15px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    
}

@media screen and (max-width: 500px){
    .todo{
        width: 20rem;
        height: 38rem;
        z-index: 2;
    }

    .data_box{
        width: 8rem;
        height: 8rem;
    }

    .data_box h4{
        font-size: 24px;
    }

    .data_box p{
        font-size: 35px;
    }

    
}


@media screen and (max-height: 700px){
    header{
       padding: .5rem .5rem;
    }


    .todo{
        width: 17rem;
        height: 30rem;
    }

    aside h2{
        font-size: 23px;
    }

    .data_box{
        width: 6rem;
        height: 5.5rem;
    }

    .data_box h4{
        font-size: 20px;
        padding-top: 7px;
    }

    .data_box p{
        font-size: 30px;
    }

    .closeButton{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .closeButton button{
        padding: 5px;
        margin: 20px 0 0 20px;
        border: none;
        background-color: rgb(255, 144, 144);  
        border-radius: 20px;
        color: white;
        cursor: pointer;
        display: none;
    }
    .closeButton button:hover{
        background-color: red;
    }
}



aside{
    display: none;
}

.prueba{
    width: 100px;
    background-color: #7E00FF;
}

#map{
    width: 100vw;
}