* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  position: absolute;
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

.title {
  color: #fff;
  font-size: 45px;
  text-align: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  box-shadow: 0 0 5px #000;
  position: relative;
  background: linear-gradient(-135deg, #55aa00, #009c4c);
  z-index: 5;
}
.header .quienes_somos {
  position: absolute;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 10px;
  bottom: 0;
  letter-spacing: 1px;
  padding-left: 8px;
  font-size: 1.4rem;
  padding: 5px;
}
.header .quienes_somos:hover {
  background: rgba(255, 255, 255, 0.0549019608);
}
.header .containerCheckBox {
  position: absolute;
  right: 10px;
  top: 15px;
  bottom: 15px;
  width: 64px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  outline: 2px solid rgb(87, 6, 87);
}
.header .containerCheckBox::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 2px;
  top: 2px;
  width: 30px;
  bottom: 2px;
  background: black;
  border-radius: 50%;
  transition: 0.1s;
}
.header .containerCheckBox.active::before {
  left: 30px;
}
.header .containerCheckBox input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 5;
}

#map {
  z-index: 0;
}
#map .leyenda {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 123123;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #001d24;
}
#map .leyenda .type {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 1px #000;
  padding: 3px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.521);
}
#map .leyenda .type::after {
  content: "";
  height: 5px;
}
#map .leyenda .type:nth-child(1)::after {
  background-color: #5f105f;
}
#map .leyenda .type:nth-child(2)::after {
  background-color: #dd0909;
}
#map .leyenda .type:nth-child(3)::after {
  background-color: #f88b0d;
}
#map .leyenda .type:nth-child(4)::after {
  background-color: #009c4c;
}
#map .leyenda .type:nth-child(5)::after {
  background-color: #777;
}
#map .leyenda .type:hover {
  background-color: rgba(255, 255, 255, 0.877);
}

.info {
  position: absolute;
  display: none;
  bottom: 60px;
  height: auto;
  transform: translateX(-50px);
  width: 200px;
  background-color: rgba(255, 255, 255, 0.897);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #999;
}

.main {
  position: relative;
  z-index: 4;
}
.main .mapInfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - 64px);
}
.main .mapInfo .asideInfo {
  background: linear-gradient(135deg, #009c4c, #00896e);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.main .mapInfo .asideInfo .titleDatosReportados {
  color: #a6f3c1;
  text-align: center;
  font-size: 27px;
}
.main .mapInfo .asideInfo .nameBarrio {
  text-align: center;
  font-size: 23px;
}
.main .mapInfo .asideInfo #updatedAt {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.788);
  font-weight: 500;
}
.main .mapInfo .asideInfo .boxes {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.main .mapInfo .asideInfo .boxes .data_box {
  width: 110px;
  height: 110px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.466) inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(-45deg, #009c4c, #00896e);
}
.main .mapInfo .asideInfo .boxes .data_box .dataName {
  text-align: center;
  font-size: 20px;
  color: #023008;
}
.main .mapInfo .asideInfo .boxes .data_box p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}
.main .mapInfo .asideInfo .boxes .data_box .masInfo {
  position: absolute;
  inset: 0;
  font-size: 25px;
  font-weight: 600;
  border: none;
  outline: none;
  opacity: 0;
}
.main .mapInfo .asideInfo .boxes .data_box .masInfo:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.705);
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.section {
  min-height: 100vh;
  background: linear-gradient(-45deg, #55aa00, #005e72);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section .sensor {
  width: 75%;
  margin: 20px;
  background: rgba(255, 255, 255, 0.76);
}
.section .sensor h6 {
  text-align: center;
  font-size: 30px;
}
.section .sensor .msgChart {
  width: 100%;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}
.section #sensores {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.volverArriba {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.11);
  background-color: #005600;
  margin: 20px;
  transition: 0.3s ease background-color;
  z-index: 50;
}

.volverArriba:hover {
  background-color: #01420a;
}

.carcasa {
  position: relative;
}

.hidden {
  display: none !important;
}

/* Dark Mode */
.darkMode .aboutus_div {
  background-color: #3d0258;
}
.darkMode .informacion .infos .moreInfo {
  background-color: #5b157b;
}
.darkMode .header {
  background: linear-gradient(-135deg, #ae57c9, #3d0258);
}
.darkMode .contaminantes .moreInfo_contaminantes {
  background-color: #3d0258;
}
.darkMode .main .mapInfo .asideInfo {
  background: linear-gradient(135deg, #3d0258, #ae57c9);
}
.darkMode .main .mapInfo .asideInfo .nameBarrio {
  color: white;
}
.darkMode .main .mapInfo .asideInfo .boxes .data_box {
  background: linear-gradient(-45deg, #824397, #3d0258);
}
.darkMode .main .mapInfo .asideInfo .boxes .data_box .dataName {
  color: #cacfca;
}
.darkMode .section {
  background: linear-gradient(-45deg, #ae57c9, #3d0258);
}

.infoTitle {
  color: white;
  margin-top: 4%;
  font-size: 55px;
  text-align: center;
}

.aboutus_div {
  font-size: 1.4rem;
  display: block;
  margin: 4% auto;
  width: 80%;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #4f97aa;
  box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 10px 10px 17px 1px rgba(0, 0, 0, 0.11);
  color: white;
  background: #084f08;
  line-height: 1.5;
}
.aboutus_div .squareInfo {
  padding-top: 1.5rem;
  color: white;
}

.informacion .infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 20px;
  gap: 20px;
}
.informacion .infos .moreInfo {
  padding: 1.2rem;
  box-shadow: 0 0 5px #000;
  background: #027a3c;
  transition: transform 0.3s, scale 0.3s;
  border-radius: 10px;
}
.informacion .infos .moreInfo:hover {
  transform: translateY(-10px);
  scale: 1.005;
}
.informacion .infos .moreInfo p {
  font-size: 1.3rem;
  color: white;
}

.contaminantes_h1 {
  margin-top: 4%;
  font-size: 55px;
  color: white;
}

.contaminantes {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 80%;
}
.contaminantes .moreInfo_contaminantes {
  font-size: 18px;
  background-color: #005600;
  color: white;
  padding: 25px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.contaminantes .moreInfo_contaminantes h1 {
  text-align: center;
  font-size: 25px;
}

.medidas {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(107, 107, 107, 0.466);
  box-shadow: 0 0 5px 1px #535050;
}
.medidas li:nth-child(even) {
  background: rgba(255, 255, 255, 0.411);
}
.medidas li:nth-child(odd) {
  color: white;
}
.medidas li:last-child {
  border-radius: 0 0 20px 20px;
}
.medidas li {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid black;
  height: auto;
}

.dataPerQuality {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 4%;
  margin-bottom: 4%;
}
.dataPerQuality .typeInfo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  color: white;
  font-size: 17px;
  border-radius: 20px;
  box-shadow: 0 0 5px #000;
  text-align: center;
}
.dataPerQuality .typeInfo .type {
  width: auto;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.247);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5568627451);
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.dataPerQuality .typeInfo:nth-child(1) {
  background-color: #5f105f;
}
.dataPerQuality .typeInfo:nth-child(2) {
  background-color: #dd0909;
}
.dataPerQuality .typeInfo:nth-child(3) {
  background-color: #f88b0d;
}
.dataPerQuality .typeInfo:nth-child(4) {
  background-color: #009c4c;
}

@media (max-width: 750px) {
  .contaminantes {
    grid-template-columns: 1fr;
    width: 90%;
  }
  .informacion .infos {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
@media (max-width: 950px) {
  .volverArriba {
    padding: 10px;
    background-color: #097c09;
  }
  .header h1 {
    font-size: 30px;
  }
  .header .quienes_somos {
    font-size: 15px;
    width: 20vw;
  }
  .mapInfo {
    height: 190vh !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 100vh 90vh;
  }
  .mapInfo #map .leyenda {
    gap: 0;
    justify-content: space-evenly;
  }
  .mapInfo #map .leyenda .type {
    font-size: 10px;
  }
  .mapInfo .asideInfo {
    background: red;
  }
  .section .sensor {
    width: 100% !important;
  }
  .section .infos {
    width: 100%;
    font-size: 20px;
  }
  .section.informacion .infoTitle {
    font-size: 30px;
    text-align: center;
  }
  .section.informacion .aboutus_div {
    width: 95%;
    font-size: 20px;
  }
  .section.informacion .contaminantes_h1 {
    font-size: 40px;
  }
  .section.informacion .medidas {
    width: 100%;
    border-radius: 0;
  }
  .section.informacion .medidas li {
    font-size: 20px;
  }
  .section.informacion .medidas li:last-child {
    border-radius: 0;
  }
}
.normalValue {
  color: white;
  transform: translateY(90px);
  font-size: 16px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */